<div class="container-fluid">
  <div class="row studio-bar">
    <div class="col-6 offset-1 studio-top">
    <h1>JobReel Studio</h1>
    <h3>Build your JobReel below. First, upload the videos that you'd like to use for each section in the left column and then, click and drag them to build your timeline below, one section at a time.</h3>
  </div>
<div class="col-2">&nbsp</div>
<div class="col-2 align-self-center">
          <button class='upload-button'>+&nbsp&nbsp&nbspUPLOAD VIDEO</button>
  </div>
</div>

<div class="row studio-body">
  <div class="card w-25 offset-1 vid-library padded5">
    <div class="card-block align-self-stretch"> <!--Library Navigation Block-->
<div class="row nopadding">
  <div class="col-10 vid-library-top">
    PROFILE JOBREEL
  </div>
  <div class="col-2 text-center side-border">
    +
  </div>
</div>
</div>

<div class="card-block white">
  <div class="row vid-library-body-first">
    Introduction
  </div>
  <hr>
  <div class="row vid-library-body">
    Education
  </div>
    <hr>
  <div class="row vid-library-body">
    Work Experience
  </div>
    <hr>
  <div class="row vid-library-body">
    Hobbies
  </div>
    <hr>
  <div class="row vid-library-body-last">
    Recommendations
  </div>
</div>

</div>
</div>


</div>
