<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
  </br \>
    <h1>Welcome to the Employer's Page for JobReel</h1>
    <br />
    <%= link_to 'Sign Up', '#', class: 'btn btn-success', data: {toggle: 'modal', target: '#employer-signupModal'} %>
    <br /><br />
  </div>
</div>
