
<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
  </br \>
    <h1>Welcome to the first edition of JobReel</h1>
    <br />
    <%= link_to 'Sign Up', '#', class: 'btn btn-success', data: {toggle: 'modal', target: '#signupModal'} %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Feature 1</h3>
    <br />
    <p>Save time and money.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Feature 2</h3>
    <br />
    <p>Make better hiring decisions.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Feature 3</h3>
    <br />
    <p>Humanize the recruitment process.</p>
  </div>
</div>
