  <div class="container-fluid-index">
    <div class="cta-box">
      <div class="col-12 logo vert-align">
      <p><span class="big-blue">job</span>reel</p>
    </div>
    <br />
    <div class = "row welcome-box">
    <div class="col-6 login-tab vert-align" id="login-tab">
      LOG IN
    </div>
    <div class="col-6 signup-tab vert-align" id="signup-tab">
      SIGN UP
    </div>
    <div class="col-12 welcome-bar vert-align">
      <br />
      <span class="big-blue">WELCOME BACK!</span>
      <br />
    </div>
  </div>
      <br />
      <br />
      <br />
    </div>
  </div>
<br />
