<div class = "container nopadding">
 <div id = "video_container" class = "video-player">
   <video controls preload>
     <source src="http://corrupt-system.de/assets/media/sintel/sintel-trailer.webm" type="video/webm">
     <source src="http://corrupt-system.de/assets/media/sintel/sintel-trailer.m4v" type="video/mp4">
   </video>
 </div>
 <div id = "videoControls" class = "video-player-controls">
   <div id = "seekback">
     <%= image_tag 'skipback.gif' %>
   </div>
   <div id = "play">
     <%= image_tag 'play.gif' %>
   </div>
   <div id = "seekfwd">
     <%= image_tag 'skipforward.gif' %>
   </div>

   <div class = "progress-box" id = "progress">
     <div class = "progress-bar" id = "progress_box">
       <span class = "moving-bar" id = "play_progress"></span>
     </div>
   </div>

    <span id="curtimetext">0:00</span> / <span id="durtimetext">0:00</span>
    <input id="volumeslider" type="range" min="0" max="100" value="100" step="1" class="vranger">
 </div>

</div>
