<div class = "js container is-flex nopadding">
 <div id = "video_container" class = "video-player">
   <video controls preload>
     <source src="http://corrupt-system.de/assets/media/sintel/sintel-trailer.webm" type="video/webm">
     <source src="http://corrupt-system.de/assets/media/sintel/sintel-trailer.m4v" type="video/mp4">
   </video>
 </div>
 <div id = "videoControls" class = "video-player-controls is-flex">
   <button id = "play" title = "Play"> &#x25BA;</button>

   <div class = "progress-box vert-align" id = "progress">
     <div class = "progress-bar vert-align" id = "progress_box">
       <span class = "moving-bar" id = "play_progress"></span>
     </div>
   </div>

    <span id="curtimetext">0:00</span> / <span id="durtimetext">0:00</span>
    <input id="volumeslider" type="range" min="0" max="100" value="100" step="1" class="vranger">
 </div>

</div>
