// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  25: 25%,
  33: 33%,
  35: 35%,
  40: 40%,
  50: 50%,
  55: 55%,
  57: 57%,
  60: 60%,
  65: 65%,
  66: 66%,
  75: 75%,
  100: 100%
) !default;

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@media (min-width: 1200px) {
  .container-fluid-profile {
    width: 1000px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 1%;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.35);
  }

  .work-history .fa-briefcase {
    color: #ddd;
    font-size: 20px;
    padding: 6px 4px;
    width: 34px;
    height: 34px;
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    background-color: #fff;
    left: 19px;
    margin: 0 auto;
  }

  .work-history .fa-university {
    color: #ddd;
    font-size: 20px;
    padding: 4px 4px;
    width: 34px;
    height: 34px;
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    background-color: #fff;
    left: 19px;
    margin: 0 auto;
  }

  .work-history .fa-thumbs-o-up {
    color: #ddd;
    font-size: 20px;
    padding: 4px 4px;
    width: 34px;
    height: 34px;
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    background-color: #fff;
    left: 19px;
    margin: 0 auto;
  }
}




.Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.Site-header,
.Site-footer {
  flex: none; /* 2 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: rgba(81, 166, 213, 0.4);
  font-size: 12px;
}

.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}

.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}

.index-footer {
  padding-bottom: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}

.opacity50:hover {
    opacity: 1;
}

.opacity50 {
    opacity: 0.5;
    webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}


.fa-pencil-square-o .fa-trash {
  line-height: inherit;
}

.slider {
    position: relative;

    background-color: #FFFFFF;
    height: 120px;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.track {
    position: absolute;
    top: 10px;
    left: 10px;

    margin: 0;
    padding: 0;
    border: 0;

    width: auto;
    overflow-y: hidden;
}

.track img {
  float: left;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  border: 0;

  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}

.track img:hover {
  opacity: 0.5;
}

.scroll-left, .scroll-right {
    position: absolute;
    color: #BBB;
    font-size: 48px;
    top: 30px;

    cursor: pointer;
    z-index: 1;
}
.scroll-left {
    left: 0;
}
.scroll-right {
    right: 0;
}

.vid-library-body-first img {
  cursor: pointer;
  cursor: hand;
}

.vid-library-body img {
  cursor: pointer;
  cursor: hand;
}

.vid-library-body-last img {
  cursor: pointer;
  cursor: hand;
}

body {
  background-image: url(user-profile-background-overlay.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  line-height: 17px;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.badges {
  padding-left: 10%;
  padding-right: 10%;
  padding-topc : 10%;
  padding-bottom: 10%;
}

.booyah-box {
  background: #fff;
  padding: 20px;
}

.blue-box {
  padding-left: 7%;
  padding-right: 7%;
}

.blue-box-city-degree {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2%
}

.btn {
  border-radius: 0;
}

.card {
  border: 0px;
}

.card-block {
  padding: 0px;
  margin: 0px;
  padding-bottom: 0px;
  background-color: #1b3257;
}

.card-footer {
  padding: 0px;
  margin: 0px;
  padding-bottom: 0px;
  background-color: #1b3257;
}

.col-4 {
  padding-right: 0px;
}

.col-7 {
  padding-left: 0px;
}

.col-2 {
  padding-left: 0px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: #FFFFFF;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.hire-button {
  background-color: #4795fb;
  border: none;
  color: white;
  padding: 0px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.hire-button:hover {
    background-color: #579df9;
    color: #FFFFFF;
}

hr {
  text-align: right;
  margin-right: 0;
}

.icon {
  height: 12px;
  width: 14px;
}

.logo-box {
  background-color: #102649;
  padding: 4%;
}

.modal-lg {
  max-width: 60vw;
  max-height: 85%;
}

.navbar {
  border-radius:0;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: #1b3257;
  padding: 0.5% 7% 0.5% 7%;
}

.nav-item {
  margin: 0px;
}

.nav-link {
  color: #FFFFFF;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.nav-link:focus {
  color: #c8c8c8;
  text-decoration: none;
}

.nav-link:hover {
  color: #c8c8c8;
}

.nav-image {
  padding-left: 15px;
  padding-right: 15px;
}

p {
  margin: 0;
}

.padded {
  padding-left: 15px;
}

.padded2 {
  padding-left: 7%;
  padding-right: 3%;
}

.padded3 {
  padding-left: 5%;
}

.padded4 {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.padded5 {
  padding-left: 15px;
  padding-right: 15px;
}

.padded6 {
  padding-top: 6%;
}

.padded7 {
  padding-left: 10px;
}

.poster-display {
  padding-top: 3%;
  padding-right: 2%;
  padding-left: 2%;
}

.poster-display img {
  padding-right: 2px;
  padding-bottom: 2px;
}

.nopadding {
  padding: 0px;
}

.no-pad-left {
  padding-left: 0px;
}

.no-pad-right {
  padding-right: 0px;
}

.public-footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #8fc0ff;
}

.public-footer a:link {
  color: white;
  text-decoration: underline;
}

.public-footer a:visited {
  color: white;
  text-decoration: underline;
}

.public-footer a:hover {
  color: white;
  opacity: 0.4;
  text-decoration: underline;
}

.public-footer a:active {
  color: white;
  text-decoration: underline;
}

.public-footer-copy {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 11px;
  opacity: 0.4;
  color: white;
}

.footer-public-view {
  padding: 0;
  margin: 0;
}

.footer-private-view {
  position: absolute;
  bottom: 0;
  padding: 2% 0% 3% 0%;
  width: 100%;
  background-color: #1b3257;
  border-radius:0;
  font-weight: 500;
  box-shadow: 0px 1px 3px #2a2a2a;
  color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
}

.footer-private-view a {
    color: #FFFFFF;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
}

.footer-private-view a:hover {
  color: #c8c8c8;
  text-decoration: none;
}

.footer-logo-box {
  font-weight: 100;
  font-size: 13px;
  padding-right: 0%;
  margin-right: -7%;
}

.list-footer-left {
  list-style-type: none;
}

.list-footer-middle {
  list-style-type: none;
  opacity: 0.4;
  margin-left: -10%;
  margin-right: -6%;
}

li {
    margin-bottom: 15px;
}

.side-border {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 1px;
  border-color: #3c90fd;
  border-style: solid;
  background-color: #277cea;
  color: #FFFFFF;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 0;
}

.social {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 4.5%;
  padding-left: 5%;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 3px;
  border-color: #eaf0f6;
  border-style: solid;
}

.social-footer {
  padding-left: 2%;
  margin-right: -7%;
}

 .social-footer-list {
   padding-left: 6%;
   padding-top: 8%;
 }

.social-footer h1 {
  color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
  font-weight: 550;
  font-size: 15px;
  text-transform: uppercase;

}

.social-footer h3 {
  opacity: 0.4;
  color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
  font-weight: 550;
  font-size: 15px;
}

.social-icons {
  padding-top: 1%;
}

.space-top {
  margin-top: 3%;
}

.card-columns {
    display: inline-block;
    width: 100%;
    margin-bottom: 1%;
}

.studio-blend {
    background-color: #dbe5ee;
}

.studio-body {
  background-color: #dbe5ee;
  font-family: 'Montserrat', sans-serif;
}

.studio-bar {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.studio-bar h1 {
  color: #3a475c;
  font-size: 28pt;
}

.studio-bar h2 {

}

.studio-bar h3 {
  color: #8a9dab;
  font-size: 12pt;
}

.studio-player {
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 1%;
}

.studio-timeline {
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 1%;
  padding-top: 1%;
  padding-bottom: 4%;
  background-color: #FFFFFF;
}

.studio-timeline h3 {
  color: #8a9dab;
  font-size: 10pt;
}

.studio-timeline hr {
  width: 100%;
}

.studio-top {
  padding-top: 2%;
  padding-bottom: 2%;

}

.timeline-bot-bar {
  border: 0;
  border-bottom: 1px;
  border-color: #eaf0f6;
  border-style: solid;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 2%;
}

.timeline-bot-bar h1 {
  font-family: 'Monserrat', sans-serif;
  font-size: 18pt;
}

.timeline-instructions {
  padding-top: 1%;
  padding-left: 3%;
}

.timeline-instructions h3 {
  line-height: 150%;
}

.timeline-workspace {
  padding-top: 2%;
  padding-left: 3%;
}

.timeline-workspace img {
margin: 5px;
}

.tiny {
  font-size: 12px;
}

.top-search-bar {
  width: 600px;
  outline: none;
  border: 0;
  font-size: 16px;
  margin-left: 8%;
  background-image: url('search-icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
  background-color: #0f2444;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
}

.top-search-bar:focus {
    background-color: #244270;
}

.top-search-bar, textarea {
  color: #FFFFFF;
}

.upload-button {
  background-color: #4795fb;
  border: none;
  color: white;
  padding: 18px 40px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.upload-button:hover {
    background-color: #579df9;
    color: #FFFFFF;
}

.newsletter-bar {
  width: 225px;
  outline: none;
  border: 0;
  font-size: 16px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 15px;
  background-color: #0f2444;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
}

.newsletter-bar:focus {
    background-color: #244270;
}

.newsletter-bar, textarea {
  color: #FFFFFF;
}

.newsletter-bar-footer {
     padding-top: 8%;
     padding-left: 3%;
}

.newsletter-footer {
  padding-left: 2%;
  margin-right: 100px;
}

.newsletter-footer h1 {
  color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
  font-weight: 550;
  font-size: 15px;
  text-transform: uppercase;
}

.user-title {
  color: #4795fb;
}

.user-profile {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  background-color: #1b3257;
}

.user-profile h1 {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 2%;
}

.user-profile h2 {
  font-size: 15px;
  color: #4795fb;
  font-weight: 400;
  padding-bottom: 3%;
}

.user-profile h3 {
  font-size: 14px;
  font-weight: 400;
}

.user-profile h4 {
  font-size: 14px;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.user-profile h5 {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.7;
  line-height:18px;
  padding-bottom: 5%;
}

.vert-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

video {
 width: 100%    !important;
 height: auto   !important;
 display: block;
}

.verticalLine {
  border-left: thin solid #FFFFFF;
  opacity:0.1;
  margin-top: -13px;
  margin-bottom: -25px;
}

.video-box {

}

.video-box img {
  width: 100%;
  height: auto;
}

.studio-player img {
  width: 100%;
  height: auto;
}

.vid-library {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #FFFFFF;
}

.vid-library-top {
  background-color: #277cea;
  color: #FFFFFF;
  font-size: 8pt;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vid-library-body {
  background-color: #FFFFFF;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3.5%;
}

.vid-library-body hr {
  text-align: center;
  margin-right: 2;
  margin-left: 2;
}

.vid-library-body h3 {
  color: #8a9dab;
  font-size: 10pt;
}

.vid-library-body-first {
  background-color: #FFFFFF;
  padding-top: 5%;
  padding-bottom: 3%;
  padding-left: 3.5%;
}

.vid-library-body-first h3 {
  color: #8a9dab;
  font-size: 10pt;
}

.vid-library-body-first hr {
  text-align: center;
  margin-right: 2;
  margin-left: 2;
}

.vid-library-body-last {
  background-color: #FFFFFF;
  padding-top: 3%;
  padding-bottom: 7%;
  padding-left: 3.5%;
}

.vid-library-body-last h3 {
  color: #8a9dab;
  font-size: 10pt;
}

.instructions {
  margin-top: -2%;
  padding-left: 10px;
}

.white {
  background-color: #FFFFFF;
}

.whiten {
  background-color: #FFFFFF;
  overflow-y: scroll;
  height: 50vh;
  position: relative; //set to absolute to fix icon
}

.work-history {
  font-family: 'Montserrat', sans-serif;
  color: #6A6A6A;
  background-color: #FFFFFF;
  padding-left: 7%;
}

.work-history h1 {
  color: #3a475c;
  font-size: 22px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.work-history h2 {
  color: #4795fb;
  font-size: 17px;
  font-weight: 500;
}

.work-history h3 {
  color: #3a475c;
  font-variant: small-caps;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.work-history h4 {
  color: #3A475C;
  font-size: 12px;
  padding-top: 3%;
}

.work-history h5 {
  color: #8a9dab;
  font-size: 13px;
  line-height: 20px;
}

.timeline-bar {
   width: 3px;
   background-color: #ddd;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
 }

.timeline-bar>.fill {
   background-color: #229AD6 ;
   width: 3px;
 }

 .add-button {
   background-color: #4795fb;
   border: none;
   color: white;
   padding: 18px 20px;
   margin: 0px 20px;
   text-align: center;
   text-decoration: none;
   display: flex;
   font-size: 12px;
   font-weight: 400;
   border-radius: 4px;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   cursor: pointer;
 }

 .add-button:hover {
     background-color: #579df9;
     color: #FFFFFF;
 }

 .dropbtn {
    background-color: #4795fb;
    color: white;
    padding: 5, 3;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #579df9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
