@import "bootstrap";

body {
  background: image_url('user-profile-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  color: #ABC012;
}

.booyah-box {
  background: #fff;
  margin-top:  10px;
  margin-bottom:  15px;
  padding: 20px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.left {

}

.logo-box {
  background-color: #102649;
}

.navbar {
  border-radius:0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('asanoha.png');
}

.navbar-inverse a.navbar-brand {
font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color:white;
}

.right {
  
}

.user-profile {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  background-color: #1b3257;
}
