<!-- use https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ -->
      <span class="index-footer">
        <p>Copyrighted 2016 JobReel. All Rights Reserved.</p>
        <a href=""><img class="opacity50" src="assets/facebook_icon.png" alt="jobreel facebook"></a>
        <a href=""><img class="opacity50" src="assets/twitter_icon.png" alt="jobreel twitter"></a>
        <a href=""><img class="opacity50" src="assets/instagram_icon.png" alt="jobreel instagram"></a>
        <a href=""><img class="opacity50" src="assets/linkedin_icon.png" alt="jobreel linkedin"></a>
      </span>
