<!-- Profile page footer -->
  <footer class="footer-public-view text-center">
    <div class="container">
      <span class="public-footer">Show off your online resume at <%= link_to 'jobreel.com', root_path %>. Already have an account? <%= link_to 'Login', root_path %>.</span>
      <br />
      <span class="public-footer-copy">COPYRIGHTED 2017 JOBREEL.COM. ALL RIGHTS RESERVED.</span>
    </div>
  </footer>
